@model KlantByStringSearchViewModel
@{
    ViewData["Title"] = "KlantZoeken";
}
<h1>Zoeken</h1>

<b>Bestemming</b>
<p>@ViewBag.Bestemming </p>
<b>Vertrek</b>
<p>@ViewBag.Vertrek </p>
<b>Aantal Dagen</b>
<p>@ViewBag.AantalDagen </p>
<b>Prijs Per Persoon</b>
<p>@ViewBag.PrijsPerPersoon </p>
<label>Familienaam bevat:</label>

<input type="text" name="familienaam" asp-for="Input"/>
<button type="submit" asp-action="KlantZoekenVanReis" asp-route-id="@ViewBag.ReisId">Zoeken</button>

@await Component.InvokeAsync("KlantByStringSearchViewModel", Model.Input);




