@model IEnumerable<Reis>
@{
    ViewData["Title"] = "BestemmingReizen";
}

<h1>@ViewBag.BestemmingNaam</h1>

<img src="~/images/bestemmingen/@ViewBag.Url" alt="@ViewBag.BestemmingNaam" sp-append-version="true" />
@if (Model != null && Model.Count() > 0)
{
    <table class="table table-bordered table-striped justify-content-center align-content-center">
        <thead>
            <tr>
        <th>Vertrek</th>
        <th>Prijs per persoon</th>
        <th>Aantal Dagen</th>
        <th>Boeken</th>
            </tr>
        </thead>
    <tbody>
        @foreach (var reis in Model)
        {
            <tr>
                <td>@reis.Vertrek</td>
                <td>@reis.PrijsPerPersoon</td>
                <td>@reis.AantalDagen</td>
                <td>
                    @if (reis.Vertrek.CompareTo(DateOnly.FromDateTime(DateTime.Now)) > 0)
                    {
                        <a href="">Boeken</a>
                    }
                    else
                    {

                        <s>Boeken</s>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div><h2>Er zijn geen reizen voor @ViewBag.BestemmingNaam</h2></div>
}

